@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Single+Day&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30px;
}

.navbar h1 {
  font-family: "Single Day", cursive;
  padding-left: 30px;
  color: #463937;
}

.links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  margin-right: 30px;
}

.content {
  margin: 30px;
  color: white;
  background-color: #463937;
  border-radius: 10px;
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sample-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sample-text p {
  padding: 30px;
  font-size: 1.2rem;
}

.sample-text h1 {
  font-size: 3rem;
}

.company-name {
  font-family: "Single Day", cursive;
  color: white;
}

.dishes {
  border: 2px solid red;
}

.dishes h1 {
  text-align: center;
}

.cards {
  margin: 30px;
}
.cards h1 {
  text-align: center;
}

.dish-card {
  background-color: #9a7b4f;
  border-radius: 10px;
  color: white;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-top: 20px;
}

.top-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  padding: 20px;
}

.ratings {
  display: flex;
  gap: 10px;
}

.dish-name {
  text-align: center;
  font-size: 1.5rem;
}

.price-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 30px;
  font-size: 1.2rem;
}

button {
  padding: 5px;
  border-radius: 10px;
  border: 2px solid #463937;
  color: #463937;
  background-color: #9a7b4f;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.quantity {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: red;
}
.cart {
  display: flex;
}
